@charset "UTF-8";
/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

audio:not([controls]) {
  display: none;
}

b,
strong {
  font-weight: bolder;
}

button {
  -webkit-appearance: button;
  overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
select {
  text-transform: none;
}

details {
  display: block;
}

hr {
  overflow: visible;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-border-radius: 0;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

svg {
  fill: currentColor;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

/*
 * Configurable defaults
 */
* {
  background-repeat: no-repeat;
}

:root {
  background-color: #222F3E;
  box-sizing: border-box;
  color: #1F2121;
  cursor: default;
  font: 100%/1.5 Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: Consolas, "Courier New", monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

small {
  font-size: 75%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  color: #FFFFFF;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  color: #FFFFFF;
  text-shadow: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  min-height: 100%;
}

a {
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid transparent;
  background-color: transparent;
  background-clip: content-box;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #DBDBDB;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@font-face {
  font-family: 'octicons';
  src: url("../fonts/octicons.eot?#iefix&v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88") format("embedded-opentype"), url("../fonts/octicons.woff?v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88") format("woff"), url("../fonts/octicons.ttf?v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88") format("truetype"), url("../fonts/octicons.svg?v=c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88#octicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.m-icon.at-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-icon.at-octicon.at-large {
  font-size: 32px;
}

.m-icon.at-octicon.at-alert:before {
  content: '\f02d';
}

.m-icon.at-octicon.at-arrow-down:before {
  content: '\f03f';
}

.m-icon.at-octicon.at-arrow-left:before {
  content: '\f040';
}

.m-icon.at-octicon.at-arrow-right:before {
  content: '\f03e';
}

.m-icon.at-octicon.at-arrow-small-down:before {
  content: '\f0a0';
}

.m-icon.at-octicon.at-arrow-small-left:before {
  content: '\f0a1';
}

.m-icon.at-octicon.at-arrow-small-right:before {
  content: '\f071';
}

.m-icon.at-octicon.at-arrow-small-up:before {
  content: '\f09f';
}

.m-icon.at-octicon.at-arrow-up:before {
  content: '\f03d';
}

.m-icon.at-octicon.at-microscope:before, .m-icon.at-octicon.at-beaker:before {
  content: '\f0dd';
}

.m-icon.at-octicon.at-bell:before {
  content: '\f0de';
}

.m-icon.at-octicon.at-bold:before {
  content: '\f0e2';
}

.m-icon.at-octicon.at-book:before {
  content: '\f007';
}

.m-icon.at-octicon.at-bookmark:before {
  content: '\f07b';
}

.m-icon.at-octicon.at-briefcase:before {
  content: '\f0d3';
}

.m-icon.at-octicon.at-broadcast:before {
  content: '\f048';
}

.m-icon.at-octicon.at-browser:before {
  content: '\f0c5';
}

.m-icon.at-octicon.at-bug:before {
  content: '\f091';
}

.m-icon.at-octicon.at-calendar:before {
  content: '\f068';
}

.m-icon.at-octicon.at-check:before {
  content: '\f03a';
}

.m-icon.at-octicon.at-checklist:before {
  content: '\f076';
}

.m-icon.at-octicon.at-chevron-down:before {
  content: '\f0a3';
}

.m-icon.at-octicon.at-chevron-left:before {
  content: '\f0a4';
}

.m-icon.at-octicon.at-chevron-right:before {
  content: '\f078';
}

.m-icon.at-octicon.at-chevron-up:before {
  content: '\f0a2';
}

.m-icon.at-octicon.at-circle-slash:before {
  content: '\f084';
}

.m-icon.at-octicon.at-circuit-board:before {
  content: '\f0d6';
}

.m-icon.at-octicon.at-clippy:before {
  content: '\f035';
}

.m-icon.at-octicon.at-clock:before {
  content: '\f046';
}

.m-icon.at-octicon.at-cloud-download:before {
  content: '\f00b';
}

.m-icon.at-octicon.at-cloud-upload:before {
  content: '\f00c';
}

.m-icon.at-octicon.at-code:before {
  content: '\f05f';
}

.m-icon.at-octicon.at-comment-add:before, .m-icon.at-octicon.at-comment:before {
  content: '\f02b';
}

.m-icon.at-octicon.at-comment-discussion:before {
  content: '\f04f';
}

.m-icon.at-octicon.at-credit-card:before {
  content: '\f045';
}

.m-icon.at-octicon.at-dash:before {
  content: '\f0ca';
}

.m-icon.at-octicon.at-dashboard:before {
  content: '\f07d';
}

.m-icon.at-octicon.at-database:before {
  content: '\f096';
}

.m-icon.at-octicon.at-clone:before, .m-icon.at-octicon.at-desktop-download:before {
  content: '\f0dc';
}

.m-icon.at-octicon.at-device-camera:before {
  content: '\f056';
}

.m-icon.at-octicon.at-device-camera-video:before {
  content: '\f057';
}

.m-icon.at-octicon.at-device-desktop:before {
  content: '\f27c';
}

.m-icon.at-octicon.at-device-mobile:before {
  content: '\f038';
}

.m-icon.at-octicon.at-diff:before {
  content: '\f04d';
}

.m-icon.at-octicon.at-diff-added:before {
  content: '\f06b';
}

.m-icon.at-octicon.at-diff-ignored:before {
  content: '\f099';
}

.m-icon.at-octicon.at-diff-modified:before {
  content: '\f06d';
}

.m-icon.at-octicon.at-diff-removed:before {
  content: '\f06c';
}

.m-icon.at-octicon.at-diff-renamed:before {
  content: '\f06e';
}

.m-icon.at-octicon.at-ellipsis:before {
  content: '\f09a';
}

.m-icon.at-octicon.at-eye-unwatch:before, .m-icon.at-octicon.at-eye-watch:before, .m-icon.at-octicon.at-eye:before {
  content: '\f04e';
}

.m-icon.at-octicon.at-file-binary:before {
  content: '\f094';
}

.m-icon.at-octicon.at-file-code:before {
  content: '\f010';
}

.m-icon.at-octicon.at-file-directory:before {
  content: '\f016';
}

.m-icon.at-octicon.at-file-media:before {
  content: '\f012';
}

.m-icon.at-octicon.at-file-pdf:before {
  content: '\f014';
}

.m-icon.at-octicon.at-file-submodule:before {
  content: '\f017';
}

.m-icon.at-octicon.at-file-symlink-directory:before {
  content: '\f0b1';
}

.m-icon.at-octicon.at-file-symlink-file:before {
  content: '\f0b0';
}

.m-icon.at-octicon.at-file-text:before {
  content: '\f011';
}

.m-icon.at-octicon.at-file-zip:before {
  content: '\f013';
}

.m-icon.at-octicon.at-flame:before {
  content: '\f0d2';
}

.m-icon.at-octicon.at-fold:before {
  content: '\f0cc';
}

.m-icon.at-octicon.at-gear:before {
  content: '\f02f';
}

.m-icon.at-octicon.at-gift:before {
  content: '\f042';
}

.m-icon.at-octicon.at-gist:before {
  content: '\f00e';
}

.m-icon.at-octicon.at-gist-secret:before {
  content: '\f08c';
}

.m-icon.at-octicon.at-git-branch-create:before, .m-icon.at-octicon.at-git-branch-delete:before, .m-icon.at-octicon.at-git-branch:before {
  content: '\f020';
}

.m-icon.at-octicon.at-git-commit:before {
  content: '\f01f';
}

.m-icon.at-octicon.at-git-compare:before {
  content: '\f0ac';
}

.m-icon.at-octicon.at-git-merge:before {
  content: '\f023';
}

.m-icon.at-octicon.at-git-pull-request-abandoned:before, .m-icon.at-octicon.at-git-pull-request:before {
  content: '\f009';
}

.m-icon.at-octicon.at-globe:before {
  content: '\f0b6';
}

.m-icon.at-octicon.at-graph:before {
  content: '\f043';
}

.m-icon.at-octicon.at-heart:before {
  content: '\2665';
}

.m-icon.at-octicon.at-history:before {
  content: '\f07e';
}

.m-icon.at-octicon.at-home:before {
  content: '\f08d';
}

.m-icon.at-octicon.at-horizontal-rule:before {
  content: '\f070';
}

.m-icon.at-octicon.at-hubot:before {
  content: '\f09d';
}

.m-icon.at-octicon.at-inbox:before {
  content: '\f0cf';
}

.m-icon.at-octicon.at-info:before {
  content: '\f059';
}

.m-icon.at-octicon.at-issue-closed:before {
  content: '\f028';
}

.m-icon.at-octicon.at-issue-opened:before {
  content: '\f026';
}

.m-icon.at-octicon.at-issue-reopened:before {
  content: '\f027';
}

.m-icon.at-octicon.at-italic:before {
  content: '\f0e4';
}

.m-icon.at-octicon.at-jersey:before {
  content: '\f019';
}

.m-icon.at-octicon.at-key:before {
  content: '\f049';
}

.m-icon.at-octicon.at-keyboard:before {
  content: '\f00d';
}

.m-icon.at-octicon.at-law:before {
  content: '\f0d8';
}

.m-icon.at-octicon.at-light-bulb:before {
  content: '\f000';
}

.m-icon.at-octicon.at-link:before {
  content: '\f05c';
}

.m-icon.at-octicon.at-link-external:before {
  content: '\f07f';
}

.m-icon.at-octicon.at-list-ordered:before {
  content: '\f062';
}

.m-icon.at-octicon.at-list-unordered:before {
  content: '\f061';
}

.m-icon.at-octicon.at-location:before {
  content: '\f060';
}

.m-icon.at-octicon.at-gist-private:before, .m-icon.at-octicon.at-mirror-private:before, .m-icon.at-octicon.at-git-fork-private:before, .m-icon.at-octicon.at-lock:before {
  content: '\f06a';
}

.m-icon.at-octicon.at-logo-gist:before {
  content: '\f0ad';
}

.m-icon.at-octicon.at-logo-github:before {
  content: '\f092';
}

.m-icon.at-octicon.at-mail:before {
  content: '\f03b';
}

.m-icon.at-octicon.at-mail-read:before {
  content: '\f03c';
}

.m-icon.at-octicon.at-mail-reply:before {
  content: '\f051';
}

.m-icon.at-octicon.at-mark-github:before {
  content: '\f00a';
}

.m-icon.at-octicon.at-markdown:before {
  content: '\f0c9';
}

.m-icon.at-octicon.at-megaphone:before {
  content: '\f077';
}

.m-icon.at-octicon.at-mention:before {
  content: '\f0be';
}

.m-icon.at-octicon.at-milestone:before {
  content: '\f075';
}

.m-icon.at-octicon.at-mirror-public:before, .m-icon.at-octicon.at-mirror:before {
  content: '\f024';
}

.m-icon.at-octicon.at-mortar-board:before {
  content: '\f0d7';
}

.m-icon.at-octicon.at-mute:before {
  content: '\f080';
}

.m-icon.at-octicon.at-no-newline:before {
  content: '\f09c';
}

.m-icon.at-octicon.at-octoface:before {
  content: '\f008';
}

.m-icon.at-octicon.at-organization:before {
  content: '\f037';
}

.m-icon.at-octicon.at-package:before {
  content: '\f0c4';
}

.m-icon.at-octicon.at-paintcan:before {
  content: '\f0d1';
}

.m-icon.at-octicon.at-pencil:before {
  content: '\f058';
}

.m-icon.at-octicon.at-person-add:before, .m-icon.at-octicon.at-person-follow:before, .m-icon.at-octicon.at-person:before {
  content: '\f018';
}

.m-icon.at-octicon.at-pin:before {
  content: '\f041';
}

.m-icon.at-octicon.at-plug:before {
  content: '\f0d4';
}

.m-icon.at-octicon.at-repo-create:before, .m-icon.at-octicon.at-gist-new:before, .m-icon.at-octicon.at-file-directory-create:before, .m-icon.at-octicon.at-file-add:before, .m-icon.at-octicon.at-plus:before {
  content: '\f05d';
}

.m-icon.at-octicon.at-primitive-dot:before {
  content: '\f052';
}

.m-icon.at-octicon.at-primitive-square:before {
  content: '\f053';
}

.m-icon.at-octicon.at-pulse:before {
  content: '\f085';
}

.m-icon.at-octicon.at-question:before {
  content: '\f02c';
}

.m-icon.at-octicon.at-quote:before {
  content: '\f063';
}

.m-icon.at-octicon.at-radio-tower:before {
  content: '\f030';
}

.m-icon.at-octicon.at-repo-delete:before, .m-icon.at-octicon.at-repo:before {
  content: '\f001';
}

.m-icon.at-octicon.at-repo-clone:before {
  content: '\f04c';
}

.m-icon.at-octicon.at-repo-force-push:before {
  content: '\f04a';
}

.m-icon.at-octicon.at-gist-fork:before, .m-icon.at-octicon.at-repo-forked:before {
  content: '\f002';
}

.m-icon.at-octicon.at-repo-pull:before {
  content: '\f006';
}

.m-icon.at-octicon.at-repo-push:before {
  content: '\f005';
}

.m-icon.at-octicon.at-rocket:before {
  content: '\f033';
}

.m-icon.at-octicon.at-rss:before {
  content: '\f034';
}

.m-icon.at-octicon.at-ruby:before {
  content: '\f047';
}

.m-icon.at-octicon.at-search-save:before, .m-icon.at-octicon.at-search:before {
  content: '\f02e';
}

.m-icon.at-octicon.at-server:before {
  content: '\f097';
}

.m-icon.at-octicon.at-settings:before {
  content: '\f07c';
}

.m-icon.at-octicon.at-shield:before {
  content: '\f0e1';
}

.m-icon.at-octicon.at-log-in:before, .m-icon.at-octicon.at-sign-in:before {
  content: '\f036';
}

.m-icon.at-octicon.at-log-out:before, .m-icon.at-octicon.at-sign-out:before {
  content: '\f032';
}

.m-icon.at-octicon.at-smiley:before {
  content: '\f0e7';
}

.m-icon.at-octicon.at-squirrel:before {
  content: '\f0b2';
}

.m-icon.at-octicon.at-star-add:before, .m-icon.at-octicon.at-star-delete:before, .m-icon.at-octicon.at-star:before {
  content: '\f02a';
}

.m-icon.at-octicon.at-stop:before {
  content: '\f08f';
}

.m-icon.at-octicon.at-repo-sync:before, .m-icon.at-octicon.at-sync:before {
  content: '\f087';
}

.m-icon.at-octicon.at-tag-remove:before, .m-icon.at-octicon.at-tag-add:before, .m-icon.at-octicon.at-tag:before {
  content: '\f015';
}

.m-icon.at-octicon.at-tasklist:before {
  content: '\f0e5';
}

.m-icon.at-octicon.at-telescope:before {
  content: '\f088';
}

.m-icon.at-octicon.at-terminal:before {
  content: '\f0c8';
}

.m-icon.at-octicon.at-text-size:before {
  content: '\f0e3';
}

.m-icon.at-octicon.at-three-bars:before {
  content: '\f05e';
}

.m-icon.at-octicon.at-thumbsdown:before {
  content: '\f0db';
}

.m-icon.at-octicon.at-thumbsup:before {
  content: '\f0da';
}

.m-icon.at-octicon.at-tools:before {
  content: '\f031';
}

.m-icon.at-octicon.at-trashcan:before {
  content: '\f0d0';
}

.m-icon.at-octicon.at-triangle-down:before {
  content: '\f05b';
}

.m-icon.at-octicon.at-triangle-left:before {
  content: '\f044';
}

.m-icon.at-octicon.at-triangle-right:before {
  content: '\f05a';
}

.m-icon.at-octicon.at-triangle-up:before {
  content: '\f0aa';
}

.m-icon.at-octicon.at-unfold:before {
  content: '\f039';
}

.m-icon.at-octicon.at-unmute:before {
  content: '\f0ba';
}

.m-icon.at-octicon.at-unverified:before {
  content: '\f0e8';
}

.m-icon.at-octicon.at-verified:before {
  content: '\f0e6';
}

.m-icon.at-octicon.at-versions:before {
  content: '\f064';
}

.m-icon.at-octicon.at-watch:before {
  content: '\f0e0';
}

.m-icon.at-octicon.at-remove-close:before, .m-icon.at-octicon.at-x:before {
  content: '\f081';
}

.m-icon.at-octicon.at-zap:before {
  content: '\26A1';
}

/**
 * m-root
 **/
.m-root {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 15%;
  width: 70%;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px 0px #000000;
  overflow: hidden;
}

.m-root > .header {
  background-color: #FAFAFA;
  padding: 5px 7px;
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.m-root > .header > .title {
  font-weight: normal;
  font-size: 0.875rem;
}

.m-root > .body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.m-root > .body > .side {
  overflow: auto;
  border-right: 1px solid #DBDBDB;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.m-root > .body > .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 25px;
  overflow: auto;
}

/**
 * m-container
 **/
.m-container {
  padding: 10px;
}

.m-container > .title {
  border-bottom: 3px solid #f1f1f1;
  margin-bottom: 10px;
  font-weight: 300;
}

.m-container > .title::before {
  content: "Title:";
  font-size: 0.5rem;
  font-weight: 300;
  margin-right: 5px;
}

/**
 * m-preview
 **/
.m-preview {
  padding: 30px 0;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

/**
 * m-navigation
 **/
.m-navigation.at-tree {
  list-style: none;
  position: relative;
  padding: 0 10px 0 5px;
}

.m-navigation.at-tree > .item {
  padding-left: 17px;
  font-size: 0.875rem;
  white-space: nowrap;
}

.m-navigation.at-tree > .item > .target {
  display: inline-block;
  line-height: 2em;
  height: inherit;
  cursor: pointer;
}

.m-navigation.at-tree > .item > .target > .title {
  position: relative;
}

.m-navigation.at-tree > .item > .target::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2em;
}

.m-navigation.at-tree > .item > .target:hover::before {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  background-color: #FAFAFA;
}

.m-navigation.at-tree > .item[data-status~="active"] > .target {
  position: relative;
}

.m-navigation.at-tree > .item[data-status~="active"]::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2em;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  background-color: #FAFAFA;
}

.m-navigation.at-tree > .item > .m-navigation.at-tree.in-navigation {
  position: static;
  padding: 0;
}

.m-navigation.at-tree > .item > .m-navigation.at-tree.in-navigation > .item {
  padding-left: 17px;
}

.m-document {
  line-height: 1.7;
  letter-spacing: 0.1em;
  cursor: auto;
}

.m-document :first-child {
  margin-top: 0;
}

.m-document a {
  color: #4183C4;
}

.m-document h1, .m-document h2, .m-document h3, .m-document h4, .m-document h5, .m-document h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.m-document h1 {
  font-size: 2.25rem;
  border-bottom: 6px double #DBDBDB;
}

.m-document h2 {
  font-size: 2rem;
  border-bottom: 2px solid #DBDBDB;
}

.m-document h3 {
  font-size: 1.75rem;
  border-bottom: 1px dashed #ACACAC;
}

.m-document h4 {
  font-size: 1.5rem;
}

.m-document h5 {
  font-size: 1.25rem;
}

.m-document h6 {
  font-size: 1rem;
}

.m-document p, .m-document blockquote, .m-document ul, .m-document ol, .m-document dl, .m-document table, .m-document pre {
  margin: 15px 0;
}

.m-document hr {
  border-bottom: 1px solid #ACACAC;
  padding: 0;
}

.m-document ul, .m-document ol {
  padding-left: 30px;
}

.m-document ul :first-child,
.m-document ol :first-child {
  margin-top: 0;
}

.m-document ul :last-child,
.m-document ol :last-child {
  margin-bottom: 0;
}

.m-document dl {
  padding: 0;
}

.m-document dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.m-document dl dt:first-child {
  padding: 0;
}

.m-document dl dt > :first-child {
  margin-top: 0;
}

.m-document dl dt > :last-child {
  margin-bottom: 0;
}

.m-document dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.m-document dl dd > :first-child {
  margin-top: 0;
}

.m-document dl dd > :last-child {
  margin-bottom: 0;
}

.m-document blockquote {
  border-left: 4px solid #DBDBDB;
  padding: 0 15px;
  color: #777777;
}

.m-document blockquote > :first-child {
  margin-top: 0;
}

.m-document blockquote > :last-child {
  margin-bottom: 0;
}

.m-document table {
  padding: 0;
}

.m-document table tr {
  border-top: 1px solid #DBDBDB;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.m-document table tr:nth-child(2n) {
  background-color: #FAFAFA;
}

.m-document table tr th, .m-document table tr td {
  border: 1px solid #DBDBDB;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.m-document table tr th :first-child, .m-document table tr td :first-child {
  margin-top: 0;
}

.m-document table tr th :last-child, .m-document table tr td :last-child {
  margin-bottom: 0;
}

.m-document img {
  max-width: 100%;
}

.m-document pre {
  font-size: 0.8125rem;
  line-height: 1.5em;
  overflow: auto;
  border-radius: 3px;
  letter-spacing: 0;
}

.m-document code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border-radius: 3px;
  letter-spacing: 0;
}

.m-document pre code {
  margin: 0;
  padding: 6px 10px;
  white-space: pre;
  border: none;
}

.m-document pre:not([class]) {
  padding: 6px 10px;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
}

.m-document code:not([class]) {
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
}

.m-document pre:not([class]) code:not([class]) {
  background: transparent;
}
